html {
    --color-green: rgb(30, 148, 70);
    --color-blue: rgb(97, 149, 228);
    --color-blue-light: rgb(140, 230, 230);
    --color-purple: rgb(121, 70, 145);
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    transition: 0.3s all;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.middle {
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
}