* {
    box-sizing: border-box;
}

html {
    --main-color:rgb(55, 71, 114);
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    transition: 0.3s all;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.middle {
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
}