body
    margin: 0

.main
    height: 3300px
    width: 100%
    background-color: #000000
    overflow: hidden

.container
    height: 100%
    width: 1200px
    margin: 0 auto

.header-cat
    height: 842px
    width: 100%
    padding-top: 89px
    margin: 0 auto 100px auto
    img
        max-width: 1200px
        width: 100%
        height: auto

.slider
    position: relative
    height: 366px
    width: 100%
    margin-bottom: 100px
    &-three
        height: 428px

.line
    height: 100%
    position: absolute
    top: 0
    display: flex
    justify-content: center
    align-items: center
    &-one
        left: -900px
    &-two
        left: 300px
    &-three
        left: -3700px
    img
        margin: 0 45px
        height: 100%
        width: auto

.number
    position: absolute
    top: 50%
    font-family: 'Open Sans', sans-serif
    color: #ffffff
    font-size: 36px
    font-weight: 300
    &-right
        right: 0
    &-left
        left: 0

.text
    width: 200px
    position: absolute
    top: 80%
    right: 0
    font-family: 'Open Sans', sans-serif
    color: #ffffff
    font-size: 64px
    font-weight: 700
    &-right
        right: 0
        text-align: right
    &-left
        left: 0

.another-cat
    height: 700px
    width: 100%
    img
        height: 100%
        width: auto

    
@import media