:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--yellow);
    font-family: "Figtree";
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p, a {
    font-size: calc(0.9rem + 0.1vw);
    color: var(--black);
}