@media (max-width: 1200px)
    .container
        width: 100%
        padding: 0 20px
        box-sizing: border-box
    
    .header-cat
        margin: 0 0 50px 0
    
@media (max-width: 700px)
    .header-cat
        height: 600px
    
    .slider
        height: 300px
        &-three
            height: 350px
    
    .line
        &-one
            left: -1200px
        &-three
            left: -3400px

@media (max-width: 500px)
    .main
        height: 2300px

    .text
        font-size: 42px
    .header-cat
        height: 400px

    .slider
        height: 250px
        &-three
            height: 300px
    
    .another-cat
        img
            width: 100%
            height: auto
    

@media (max-width: 300px)
    .main
        height: 1800px

    .slider
        height: 170px
    
    .text
        font-size: 27px