@media (max-width: 1201px)
    .main
        width: 1000px

@media (max-width: 1001px)
    .main
        width: 700px
    
    .container
        width: 70%
    
    .close
        right: 20px

@media (max-width: 701px)
    .main
        width: 500px
    
    .container
        width: 80%

@media (max-width: 501px)
    .main
        width: 300px
    
    .container
        width: 100%
    
    .gridbox
        gap: 5px 5px

@media (max-width: 301px)
    .main
        width: 200px