body
    margin: 0

.main
    min-height: 1200px
    height: 1px
    background: url(../img/wood.jpg) center 100%/cover no-repeat

.cover
    height: 100%
    width: 100%
    background-color: rgba(0, 0, 0, 0.3)

.container
    width: 1200px
    height: 100%
    margin: 0 auto
    position: relative

.text
    font-family: 'Poiret One', cursive
    color: #fff
    font-size: 30px
    text-align: center
    transition: 0.5s all
    &_block
        font-size: 30px
        padding-left: 500px
        text-align: right
        padding-top: 50px
    &_bold
        font-weight: bold
        font-size: 37px
    &_black
        color: #000000
        font-weight: bold

.panel
    min-height: 100px
    width: 700px
    padding: 20px
    margin: 20px auto
    background-color: rgba(255, 255, 255, 0.5)
    border-radius: 20px
    a
        text-decoration: none
        transition: 0.5s all
        &:hover .text_black
            color: #ffffff

.menu
    position: absolute
    width: 370px
    height: 50px
    display: flex
    justify-content: space-between
    align-items: center
    top: 0
    right: 0
    &_link
        font-family: 'Poiret One', cursive
        color: #ffffff
        font-size: 20px
        text-decoration: none
        transition: 0.5s all
        cursor: pointer
        &:hover
            color: #40975f

.contacts
    width: 370px
    height: 170px
    position: absolute
    top: -500px
    right: 0
    background-color: rgba(255, 255, 255, 0.9)
    text-align: center
    transition: 0.5s all
    &_text
        font-family: 'Poiret One', cursive
        color: #000000
        font-size: 24px
        text-align: center
        padding-top: 5px
        &_bold
            font-weight: bold
    &_textblock
        text-align: center
        padding: 20px 10px 20px 10px
    &_close
        position: absolute
        top: 15px
        right: 20px
        width: 20px
        height: 3px
        background-color: #000000
        transform: rotate(45deg)
        cursor: pointer
        &::after
            content: ''
            position: absolute
            top: 0px
            right: 0px
            width: 20px
            height: 3px
            background-color: #000000
            transform: rotate(90deg)