.code {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: var(--white);
    padding: 15px 15px 40px 15px;
    width: 98%;
    max-width: 350px;
    border-radius: 20px;
    box-sizing: border-box;
}

.code-img {
    max-width: 325px;
    width: 100%;
    border-radius: 20px;
}

.code-title,
.code-p {
    text-align: center;
    font-family: "Outfit", sans-serif;
    padding: 0 20px;
    margin: 0;
    animation: reveal-from-top 1.5s;
}

.code-title {
    color: var(--dark-blue);
}

.code-p {
    color: var(--grayish-blue);
    font-size: 15px;
}