body
    margin: 0

.main
    height: 1000px
    width: 100%
    background-color: #000000

.container
    position: relative
    height: 100%
    width: 1200px
    margin: 0 auto

.header
    width: 500px
    padding-top: 50px
    font-size: 28px
    color: #ffffff
    font-family: 'Inter', sans-serif
    font-weight: 700


.polygon
    position: absolute
    top: 274px
    left: 50%
    transform: translateX(-50%)
    width: 286px
    height: 286.81px
    transition: 0.5s all
    &-img
        height: 100%
        width: 100%

.text-dot
    position: absolute
    height: 14px
    width: 14px
    background-color: #ffffff
    border-radius: 100%
    &:nth-child(2)
        top: 0
        left: 50%
        transform: translate(-50%, -25%)
    &:nth-child(3)
        top: 23%
        right: 15px
    &:nth-child(4)
        top: 72%
        right: 15px
    &:nth-child(5)
        bottom: 0
        left: 50%
        transform: translate(-50%, 25%)
    &:nth-child(6)
        top: 72%
        left: 15px
    &:nth-child(7)
        top: 23%
        left: 15px

.text
    position: absolute
    min-height: 21px
    width: 500px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 21px
    line-height: 27px
    color: #ffffff
    &-top
        bottom: 30px
        left: 50%
    &-right
        top: 50%
        left: 30px
        transform: translateY(-50%)
    &-right
        top: 50%
        left: 30px
        transform: translateY(-50%)
    &-bottom
        text-align: right
        top: 30px
        right: 50%
    &-left
        text-align: right
        top: 50%
        right: 30px
        transform: translateY(-50%)
    &-mobile
        bottom: 180px
        transition: 0.5s all
        text-align: center
        display: none

.swipe
    position: absolute
    top: 390px
    left: 50%
    transform: translateX(-50%)
    display: none
    justify-content: center
    align-items: center
    height: 50px
    width: 200px
    img
        margin: 0 10px
    span
        color: #ffffff
        font-size: 21px

.hide
    opacity: 0

@import keyframe
@import media