@font-face {
    font-family: "Young Serif";
    src: url("../assets/fonts/YoungSerif-Regular.ttf");
}

@font-face {
    font-family: "Outfit";
    src: url("../assets/fonts/Outfit-VariableFont_wght.ttf");
    font-weight: 400 700;
}